*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.backround-container-image1{
    width: 100%;
    min-height: 500px;
    background-image: url(./img/bg1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.heading-container{
    position: relative;
    top: 250px;
    left: 50vh;
    width: 350px;
    height: 100px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1rem inset rgb(128, 0, 128);

}

.heading-container-title1{
    background-color: #4C4C4C;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1rem inset white;
    line-height: 2.5rem;
    letter-spacing: 3px;
}